.topic {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	height: 200px;
	margin-left: 5px;
}

.topic-icon {
	width: 50px;
	height: 50px;

	margin-top: 10%;
}

.topic h4 {
	display: block;

	margin-bottom: 10px;
	font-size: 15px;
}

.topic h5 {
	display: block;
	font-size: 15px;
	margin: 10px;
	font-weight: normal;
	margin-bottom: 15px;
}
@media (max-width: 950px) {
	.topic {
		height: 150px;
	}
}
