.topic {
	display: inline-block;

	height: 200px;

	margin-left: 5px;
}

.icon {
	width: 50px;
	height: 50px;
	margin-left: 40%;
	margin-top: 10%;
}

.topic h4 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
	font-size: 15px;
}

.topic h5 {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	margin: 10px;
	font-weight: normal;
	margin-bottom: 15px;
}
@media (max-width: 950px) {
	.topic {
		height: 100px;
	}

	.topic h4 {
		font-size: 12px;
		margin-bottom: 5px;
	}

	.topic h5 {
		font-size: 10px;
		margin-bottom: 3px;
	}
}
