.card_container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 10px;
}

.cards {
	display: grid;
	grid-template-columns: 2fr 2fr 2fr;
	margin: 10px;
}

@media (max-width: 800px) {
	.cards {
		display: block;
	}
}
