.card {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 200px;
	width: 90%;
	text-decoration: none;
	margin: 10px;
}

.card-icon {
	width: 40px;
	height: 40px;
}

.card h3 {
	font-size: 20px;
	color: black;
}
h4 {
	font-size: 14px;
	font-weight: normal;

	color: black;
}

@media (max-width: 950px) {
}
