.page_description {
	display: grid;
	grid-template-columns: 2fr 2fr 2fr;
	height: 440px;
	width: 90%;
	margin-left: 5%;
}

.page_instruction {
	height: 300px;
	margin-top: 10px;
	border-bottom: 1px solid rgb(224, 224, 224);
	border-top: 1px solid rgb(224, 224, 224);
}

.upload_container {
	height: 500px;
	border-bottom: 1px solid rgb(224, 224, 224);
}

@media (max-width: 950px) {
	.page_description {
		grid-template-columns: 2fr 2fr;
		height: 550px;
	}
}
