.page_description {
	display: grid;
	grid-template-columns: 2fr 2fr 2fr;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 10%;
}

.page_instruction {
	border-bottom: 1px solid rgb(224, 224, 224);
	border-top: 1px solid rgb(224, 224, 224);
}

.upload_container {
	height: 500px;
	border-bottom: 1px solid rgb(224, 224, 224);
}

@media (max-width: 950px) {
	.page_description {
		grid-template-columns: 3fr 3fr;
		margin-bottom: 20%;
	}
}

@media (max-width: 800px) {
	.page_description {
		grid-template-columns: 6fr;
		margin-bottom: 20%;
	}
}
