.header {
	height: 90px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
	background-color: white;
	border-bottom: 1px solid orange;

	.logo-container {
		display: flex;
		align-items: center;
		height: 100%;
		width: 75%;
		padding: 20px;
		text-decoration: none;

		.logo {
			display: inline-block;
			width: 40px;
		}

		p {
			display: flex;
			align-items: center;
			font-weight: bold;
			padding: 15px;
			height: 40%;

			font-size: 30px;
			color: rgb(255, 102, 0);
		}
	}
}
