.homepage-main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	margin-left: 5%;
	width: 90%;

	.homepage-main-head {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		margin-bottom: 5%;

		color: rgba(0, 0, 0, 0.788);
		h1 {
			font-size: 1.5em;
		}

		h2 {
			font-weight: normal;
			font-size: 1em;
		}
	}
}
